@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Bungee+Spice&family=Indie+Flower&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(43, 153, 226, 0.342);
}
/* ----------------------------------- */
/* login page */
#login{ /*the sudoku login window*/
    width: 500px;
    height: 350px;
    background-color: lightgrey;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #59ACCC;
    position: relative;
}

#header{ /*the sudoku login header*/
    position: absolute;
    top: 20px;
    font-family: 'Bungee Spice', cursive;
}
.inputs{ /*the sudoku username and password inputs*/
    width: 230px;
    height: 40px;
    border: 2px solid #59ACCC;
    font-size: 20px;
}
.inputs:hover{ /*the sudoku username and password inputs while hovering with mouse*/
    background-color: whitesmoke;
}
#user-name{ /*the sudoku username input*/
    margin-bottom: 5px;
}
#show-password, #hide-password{
    position: absolute;
    left: 375px;
    bottom: 119px;
    text-align: left;
    padding: 5px;
    background-color: #59ACCC;
    border: 1px solid black;
    color: white;
    cursor: pointer;
}
#login-btn{ /*the sudoku login button*/
    position: absolute;
    bottom: 55px;
    left: 130px;
    width: 100px;
    height: 35px;
    background-color: #59ACCC;
    border: 1px solid black;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#login-btn:hover{ /*the sudoku login button while hovering with mouse*/
    background-color: rgb(78, 154, 184);
}
#login-btn:active{ /*the sudoku login button while clicking*/
    background-color: #59ACCC;
}
#if-login-ok{ /*seconed id for the sudoku login window that given only if the username and password is correct*/
    display: none;
}

#p1,#p2 { /*the error paragraphs id*/
    position: absolute;
    color: red;
}
#p1{
    display: block;
}
#p2{ /*the 2nd error paragraph id*/
    bottom: 79px;
    display: block;
}


@media(max-width:768px){
    #login{
        width: 350px;
        height: 280px;
    }
    #header{
        font-size: 23px;
    }
    .inputs{
        width: 190px;
        height: 30px;
    }
    #show-password,#hide-password{
        left: 278px;
        bottom: 92px;
        padding: 3px;
        width: 68px;
        height: 36px;
    }
    #login-btn{
        left: 76px;
        bottom: 35px;
    }
    #p2{
        bottom: 56px;
    }
}






/* choose difficult lvl page */
#difficult-lvl-page{
    width: 600px;
    height: 400px;
    background-color: lightgrey;
    margin: 80px auto;
    border: 3px solid #59ACCC;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;           /*  זמני */
    font-family: 'Aref Ruqaa Ink', serif;
}
#header1{
    font-size: 40px;
}
#dif-lvl-options{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 500px;
    margin-bottom: 20px;
}
.dif-lvl{
    width: 120px;
    height: 100px;
    background-color: #59ACCC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
#lvl1:hover{
    background-color: green;
}
#lvl2:hover{
    background-color: orange;
}
#lvl3:hover{
    background-color: red;
}
#lvl1:active{
    background-color:rgba(0, 128, 0, 0.781);
}
#lvl2:active{
    background-color: rgba(255, 166, 0, 0.795);
}
#lvl3:active{
    background-color: rgba(255, 0, 0, 0.781);
}


@media(max-width:768px){
    #difficult-lvl-page{
        width: 330px;
        height: 600px;
    }
    #secHeader1{
        font-size: 20px;
        margin-top: -50px;
    }
    #dif-lvl-options{
        width: 200px;
        flex-direction: column;
        align-content:space-around ;
    }
    .dif-lvl{
        width: 200px;
        margin-bottom: 20px;
    }
}









/* game page */
#main-game-page{
    margin: 0 auto;
    display: none;
}
#header2{
    width: 500px;
    margin: 20px auto;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    display: none;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
}
#board-main{
    position: relative;
    /* background-color: red; */
    margin: auto;
    width: 500px;
    height: 500px;
}
#board{
    position: relative;
    width: 500px;
    margin: 0 auto;
    display: none;
}
#main-game{
    width: 416px;
    height: 452px;
    margin: 0 ;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    display: none;
}
.tile{
    width: 44px;
    height: 48px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.tile:hover{
    background-color: whitesmoke;
}
.tile:active, .numsBtnsTile:active{
    background-color: darkgrey;
}
.horizontal-line{
    border-bottom: 2px solid black;
}
.vertical-line{
    border-right: 2px solid black;
}
#numBtns{
    margin-top:1px;
    width: 46px;
    height: 450px;
    border: 2px solid black;
    position: absolute;
    top: 0;
    right: 0;
}
.numBtnsTile{
    width: 44px;
    height: 48px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    cursor: pointer;
}
.tileSelected{
    background-color: lightgrey;
}
#startBtn{
    width: 150px;
    height: 30px;
    background-color: #59ACCC;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}
#finishBtn{
    width: 150px;
    height: 30px;
    background-color: #59ACCC;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    left: 180px;
    bottom: 0;
    display: none;
}

@media(max-width:768px){
    #header2{
        width: 330px;
    }
    #board-main{
        width: 362px;
        height: 530px;
    }
    #main-game{
        width: 362px;
        height: 393.5px;
    } 
    .tile{
        width: 38px;
        height: 41.5px;
    }
    #numBtns{
        width: 358px; 
        height: 43.5px;
        top: 420px;
        right: 134px;
        display: flex;
    }
    .numBtnsTile{
        width: 38px;
        height: 41.5px;
        flex-direction: row;
    }
    #finishBtn{
        left: 216px;
    }
}